network:
  version: 2
  renderer: networkd
  ethernets:
    net0:
      addresses: [ "{{ ansible_default_ipv4.address }}" ]
      match:
        macaddress: "{{ ansible_default_ipv4.macaddress }}"
      set-name: net0
      gateway4: "{{ ansible_default_ipv4.gateway }}"
      nameservers:
          addresses:
              - "{{ ansible_dns.nameservers[0]  }}"
